{% extends 'base.html.twig' %}

{% block  body %}



{% for post in posts %}
<div class="container">
<div class="row">
<div class="">
<div class="card  mb-3 " >
  <small class="text-dark"> Publié le {{post.created_at_post}}
  <span class="text-secondary">{% if post.update_at_post != NULL  %}  modifié le {{post.update_at_post}} {% endif %}</span> 
   par {{post.firstname_admin}} {{post.lastname_admin}}</small>
  
  <div class="card-body">
    
    <h5 class="card-title">{{post.title_post}}</h5>
    <h6 class="card-title bg-light chapo " >{{post.chapo_post}}</h6>
    <p class="card-text">{{post.content_post}}</p>
    
  <a href={{linkPost}} class="btn btn-dark">Retour</a>
  </div>
</div>
</div>
</div>
</div>
{% endfor %}
<div class="container">
  {% for comment in comments %}
  
  <div class="row">
<div class="">
<div class="card  mb-3 bg-secondary " >
  <small>Ce commentaire a été posté le{{comment.date_comment_comments}} par {{comment.firstname_members}} {{comment.lastname_members}}</small>
  <div class="card-body">
    <p class="card-text">{{comment.comment_comments}}</p>
  </div>
</div>
</div>
</div>

  {% endfor %}
</div>

{% if idMember != null %}

{% if confirm != null %}
<div class="container">
  <form action="../../blog/posts/{{id}}" method ="POST">
    <div class="form-group">
        <label for="comment" >Commentaire</label>
        <textarea name="comment" id="comment"  rows="8" class="form-control">
      
        </textarea>
        <input type="hidden" class="form-control" id="title"  >
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Poster un commentaire</button>

    <div class="form-group">
     <p>{{error}}</p>
    </div>
  </form>

  <br><br>
</div>
{% endif %}

{% if confirm == null %}
<div class="container bg-info">
 <p class="text-center" > <a href="../../blog/verification">Confirmez votre compte</a></p>
</div>
{% endif %}

{% endif %}

{% if idMember == null %}
<div class="container bg-info">
 <p class="text-center" >Vous devrez être un membre confirmé pour commenter</p>
</div>
{% endif %}

{% endblock %}