{% extends 'base.html.twig' %}

{% block  body %}


{% for post in posts %}
<div class="container">

<div class="card  mb-3 " >
  <small class="text-dark"> Publié le {{post.created_at_post}} par {{post.firstname_admin}} {{post.lastname_admin}}</small>
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <div class="card-body">
    <h4 class="card-title bg-light chapo">{{post.chapo_post}}</h4>
    <h5 class="card-title">{{post.title_post}}</h5>
    <p class="card-text posthidden">{{post.content_post}} </p>
    
    <a href="posts/{{post.id_post}}" class="btn btn-primary">Lire plus</a>
  </div>

</div>
</div>
 {% endfor %}
{% endblock %}